# SPDX-FileCopyrightText: 2025 Jonas Fierlings <fnoegip@gmail.com>
#
# SPDX-License-Identifier: 0BSD

# EditorConfig is awesome: https://EditorConfig.org

# top-most EditorConfig file
root = true

[*]
charset = utf-8
end_of_line = lf
indent_size = 2
indent_style = space
insert_final_newline = true
trim_trailing_whitespace = true

[*.kdl]
indent_size = 4

[*.ps1]
indent_size = 4

[*.ps1.hbs]
indent_size = 4

[Justfile]
indent_size = 4

[LICENSES/*.txt]
indent_size = unset
