<?xml version="1.0" encoding="utf-8"?>
<!--
SPDX-FileCopyrightText: 2024 Jonas Fierlings <fnoegip@gmail.com>

SPDX-License-Identifier: 0BSD
-->
<packages>
  <package id="1password-cli" />
  <package id="git" />
  <package id="helix" />
  <package id="just" />
  <package id="nerd-fonts-Recursive" />
  <package id="nerd-fonts-VictorMono" />
  <package id="python3" />
  <package id="rustup.install" />
  <package id="starship" />
</packages>
