<?xml version="1.0" encoding="utf-8"?>
<!--
SPDX-FileCopyrightText: 2025 Jonas Fierlings <fnoegip@gmail.com>

SPDX-License-Identifier: 0BSD
-->
<packages>
  <package id="1password-cli" />
  <package id="delta" />
  <package id="fd" />
  <package id="git-branchless" />
  <package id="helix" />
  <package id="incus" />
  <package id="inter" />
  <package id="just" />
  <package id="nerd-fonts-Recursive" />
  <package id="nerd-fonts-VictorMono" />
  <package id="python3" />
  <package id="ripgrep" />
  <package id="rustup.install" />
  <package id="starship" />
  <package id="topgrade" />
  <package id="watchman" />
  <package id="zoxide" />
</packages>
